$color-n1: hsl(205, 26%, 13%);
$color-n2: hsl(209, 19%, 22%);
$color-n3: hsl(209, 15%, 33%);
$color-n4: hsl(208, 10%, 49%);
$color-n5: hsl(206, 15%, 68%);
$color-n6: hsl(206, 19%, 76%);
$color-n7: hsl(205, 22%, 85%);
$color-n8: hsl(210, 25%, 92%);
$color-n9: hsl(204, 29%, 97%);
$color-n10: hsl(206, 25%, 100%);
