@import 'styles/mixins/colors';

.stationModel {
  color: $color-n1;
  height: 250px;
  position: relative;
  width: 250px;
}
.stationModel-dewPoint,
.stationModel-pressure,
.stationModel-temperature,
.stationModel-visibility {
  position: absolute;
  text-align: center;
}
.stationModel-current {
  left: 22.5%;
  position: absolute;
  top: 44.5%;
  width: 12%;
}
.stationModel-dewPoint {
  left: 25%;
  top: 65%;
}
.stationModel-pressure {
  left: 65%;
  top: 30%;
}
.stationModel-temperature {
  left: 25%;
  top: 30%;
}
.stationModel-visibility {
  left: 12.5%;
  top: 47%;
}
